.section {
  background: #880000;
  border: 1px solid black;
  border-radius: 25px;
  float: left;
  height: 300px;
  width: 300px;
  margin: 5px;
  transition: 1s ease-in-out;
}

/* .rotation-control-group {
  position: absolute;
}

.rotation-control-group button {
  position: relative;
} */

/* .section-1__rotate-clockwise-btn {
  top: -50px;
  left: 50px;
}
.section-1__rotate-counterclockwise-btn {
  left: -50px;
  top: 50px;
}

.section-2__rotate-clockwise-btn {
  right: 50px;
  bottom: 50px;
}
.section-2__rotate-counterclockwise-btn {
  top: 50px;
  left: 50px;
}
.section-3__rotate-clockwise-btn {

}
.section-3__rotate-counterclockwise-btn {

}
.section-4__rotate-clockwise-btn {

}
.section-4__rotate-counterclockwise-btn {

} */
